/*This is a CSS page devoted to the 1960's: */
#parent{
  position:relative;
  width:500px;
  background-color:#FF1493;
  border:solid 3px #ff7347;
  font-size:24px;
  text-align:center;
}
#child{
  position:relative;
  left:150px;
  top:10px;
  width:500px;
  background-color:yellow;
  border:solid 3px #ff7347;
  font-size:24px;
  text-align:center;
  opacity:0.6;
}
#bodystyle{
  background-color:purple;
  /*text-align:left;*/
  }
#shroomsdiv{
  font-size:100px;
  /*text-align:left;*/
  }
p.center{
  text-align:center;
  color:red;
}
p.large{
  font-size:300%;
}
p{
  display:inline;
	color:red;
}
p.c1{
  color:blue;
}
p.c2{
  color:yellow;
}
p.c3{
  color:green;
}
p.c4{
  color:blue;
}
p.c5{
  color:orange;
}
p.c6{
  color:green;
}
